:root {
  --main-background-color: hsl(228, 25%, 14%);
  --main-font-color: hsl(0, 0%, 76%);
  --font-color-lighter: hsl(0, 0%, 85%);
}

html,
body {
  font-size: 18px;
  line-height: 1.8rem;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

@media (max-width: 860px) {
  html,
  body {
    font-size: 16px;
  }
}

h1,
h2 {
  color: var(--font-color-lighter);
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: white;
}

p {
  margin: 1.5rem 0;
}

* {
  box-sizing: border-box;
}
